body{
      text-align:center;
      width: 100px;
      height: 850px;
     margin:initial;
      background-image: url(./imagenes/FONDO.jpg);
      background-repeat: no-repeat;
     background-size:180ch;
    }

h1{
    position:absolute;
    left: 300PX;
    top: 60px;
    font-weight:bold;
    font-size: 56px;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 2.2px white;

}
h2{
    position: absolute;
    left: 400PX;
    top: 150px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px white;

}
.Tarjeta {
    position: absolute;
    left: 420PX;
    top: 210px;
    width: 500px;
  }
  .boton1{
      padding:6px;border-radius:10px;
      background-color: black;color: white;
      font-size: 15px;
      font-weight:bold;
      padding: 15px;
      position:relative;
      left: 620PX;
      top: 370px;
    }
.NumberCard{
    padding:10px;
    border-radius:15px;
    font-size: 20px;
    position:relative;
    left: 440PX;
    top: 260px;
    width: 400px;
}
footer{
    position:relative;
    left: 500PX;
    top: 700px;
    width: 400px;
    background-color: white;
}